.header{
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.header div{
  margin: auto 0px;

}

.header div p {
 display: inline;
 align-content: center;
}

main , footer{
  width: 60%;
  margin: 30px auto;
  text-align: center;
}

ul{
  list-style: none;
  padding: 0px;
  margin:  0px;
}

Ul li{
  margin: 10px 0px;
}

button{
  width:  150px;
  height: 35px;
  border-radius: 10px;
  border-width: 0px;
  background-color:rgb(50, 5, 80);
  color: aliceblue;
}

button:hover{
  background-color:rgb(201, 32, 187);
  cursor: pointer;
  cursor: hand;
}

button:focus{
  outline: none;
} 

#view-high-score{
  color:rgb(206, 15, 206) ;
}

.answer{
  border-top: solid;
  border-top-width: thin;
  padding-top: 10px;
  font-size: 40px;
  text-align: left;
  color: grey;
}

